mat-form-field {
  width: 20%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.textarea {
  width: 40%;
}
.mat-card{
  width: 250px;
  height: 210px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.poza{
  object-fit: scale-down;
}
